.mainContainer{
    background-color: var(--wood-200);
    border: 10px solid var(--wood-500);
}

.designBody{
    background-color: var(--gray-200);
    margin: 0 10rem;
    margin-top: 10px;
    transition: margin 0.5s;
    border-radius: 10px;

    @media (max-width: 1024px) {
        margin: auto 3rem;
      }

    @media (max-width: 800px) {
        margin: auto 0;
      }
}

