.videoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--wood-200);

    @media (max-width: 768px) {
        margin:0;
      }  

    @media (max-width: 425px) {
        flex-direction: column;
        margin: 0.2rem 0 ;
      }  
}

.subannouncementContainer{
    display: flex;
    flex-direction: row;
   
    @media (max-width: 768px) {
        flex-direction: column;
        margin: 0.2rem 0 ;
      }

}

.vimeo{
    background-color: var(--wood-500);
    display: flex;
    border: 8px solid var(--wood-500);
    margin: 2px;

    @media (max-width: 768px) {
        margin: 0.2rem 0 ;
    }
}