.footerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background:var(--gray-300);

    p{
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: bold;

      @media (max-width: 500px) {
       text-align: center;
      }
    }
}

.footerText{
  display: flex;
}

.logo{
    margin: 0.5rem 0;
    width: 2rem;
}
  
.logoTupi{
    margin: 0.5rem 0;
    width: 9rem;
}